

html,body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
}



#pd {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  z-index: 400;
  transition: opacity 0.3s ease;
}

#map {
  height: 90vh;
  border: 2px solid #ddd;
  border-radius: 10px;
}